<md-dialog>
    <form name="userForm" class="md-dialog-content" layout="column">
        <md-input-container>
            <label>Name</label>
            <input name="name" ng-model="userData.name" required md-maxlength="16" minlength="2">
            <div ng-messages="userForm.name.$error">
                <div ng-message="required"  ng-show="userForm.name.$error.required">This is required!</div>
                <div ng-message="md-maxlength"  ng-show="userForm.name.$error['md-maxlength']">That's too long!</div>
                <div ng-message="minlength" ng-show="userForm.name.$error.minlength">That's too short!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Email</label>
            <input name="email" type="email" ng-model="userData.email" required>
            <div ng-messages="userForm.email.$error">
                <div ng-message="required" ng-show="userForm.email.$error.required">This is required!</div>
                <div ng-message="email" ng-show="userForm.email.$error.email">This email is not valid!</div>
            </div>
        </md-input-container>
        <md-radio-group  ng-model="group">
            <label>Group</label>
            <md-radio-button value="friends" aria-label="Friends">
                Friends
            </md-radio-button>
            <md-radio-button value="others" aria-label="Others">
                Others
            </md-radio-button>
        </md-radio-group>
    </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-disabled="!userForm.$valid" ng-click="addUser()">submit</md-button>
    </md-dialog-actions>
</md-dialog>